// Your variable overrides
$pumpkin: #d57500;
$stem: #668d3c;
$caramel: #b99c6b;
$dijon: #dbca69;
$cinnamon: #8f3b1b;

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

$primary:       $pumpkin;
$secondary:     $gray-600;
$success:       $stem;
$info:          $caramel;
$warning:       $dijon;
$danger:        $cinnamon;
$light:         $gray-100;
$dark:          $gray-800;

// Bootstrap and its default variables
@import "./node_modules/bootstrap/scss/bootstrap";
